@import "variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5rem;
  min-height: 5rem;

  &__logo {
    display: inline-flex;
    gap: 1rem;
    align-items: center;
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.btn {
  text-align: center;
  text-transform: uppercase;
  font-family: inherit;
  color: $color-very-dark-grey;
  transition: all 0.2s;
  border-radius: 5px;
  border: none;

  &--primary {
    background-color: $color-secondary-light;
  }

  &--secondary {
    background-color: #1b5e20;
  }

  &--small {
    padding: 0.4rem 1rem;
    min-width: 5rem;
    max-width: 6rem;
    font-size: 0.6rem;
  }

  &--medium {
    padding: 0.5rem 1.5rem;
    min-width: 7rem;
    max-width: 9rem;
    font-size: 0.7rem;
  }

  &--large {
    padding: 0.5rem 2rem;
    min-width: 9rem;
    max-width: 15rem;
    font-size: 0.9rem;
  }

  &:hover {
    box-shadow: $shadow-dark-grey;
  }

  &:active {
    box-shadow: $shadow-dark-grey-pressed;
  }
}

.header-form {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    row-gap: 1rem;
  }
  &__input {
    font-family: inherit;
    padding: 0.5rem;
    border-radius: 5px;
    max-width: 8rem;
    margin: 1rem;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-out;
    border: none;

    &:active,
    &:focus {
      max-width: 10rem;
    }
  }
}

.board {
  background-color: #a3cd9e;
  max-width: 80vw;
  height: 100%;
  padding: 2rem;
  margin: 0 auto;
  border-radius: 1rem;

  &__columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    height: 100%;
  }

  &__stages {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    min-width: 15%;
    height: 100%;
  }
}

.stage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.7rem;
  flex: 1 1;
  min-width: 90%;
  height: 100%;
  overflow: scroll;
  flex-wrap: nowrap;
  padding-right: 0.8rem;

  &--hovered {
    box-shadow: 0px 0px 10px 0px $color-primary-dark;
  }
}

.stage-task {
  background-color: $color-secondary-light;
  border-radius: 10px;
  padding: 5% 5% 0;
  overflow: hidden;
  word-break: break-all;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 90%;
  min-height: 7rem;
  max-height: 7rem;

  &--dragged {
    box-shadow: 0 0 10px $color-primary-dark;
  }

  &__title {
    font-size: 0.9rem;
    text-align: center;

    &--striked {
      text-decoration: line-through;
    }
  }

  &__description {
    font-size: 0.7rem;
    margin: 10px 0;
    text-align: left;
  }

  &__label {
    font-size: 0.7rem;
    display: inline;
  }

  select {
    background-color: transparent;
    border: none;
    padding: 0 1rem 0 0;
    margin-left: 1rem;
    width: 60%;
    font-size: 0.6rem;
    cursor: inherit;
    align-items: flex-end;
  }

  &__action-buttons {
    align-self: flex-end;
    flex: 0 1;
  }
}

.modal {
  &__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7));
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    background-color: white;
    min-width: 40%;
    min-height: 40%;
    display: flex;
    border-radius: 1rem;
    padding: 2rem 1rem 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
