.board {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  height: 100%;
  width: 90%;
  /* min-width: 800px; */
  padding: 2rem;
  border-radius: 3rem;
}

.boardHeader {
  margin: 10px auto;
  background-color: #fffdfd;
  width: 40%;
  border-radius: 5rem;
}

.stagesWrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 10px;
}

.stageColumn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 250px;
}

.header {
  padding: 1rem;
  background-color: burlywood;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
